@using Biblioteca.Business.Interfaces
@using Biblioteca.Data.Models
@inject IJSRuntime JSRuntime
@inject IAuthorRepository AuthorRepository
@inject NavigationManager Navigation


@if (AuthorListP == null)
{
    <div class="container-fluid align-content-center justify-content-center" >
        <h3>Cargando autores...</h3>
    </div>
    
}
else if (AuthorListP.Count == 0)
{
    <div class="container-fluid align-items-center justify-content-center d-flex  " style="min-height:400px;" >
        <h3>No se encontraron autores.</h3>
    </div>
  
}
else
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var author in AuthorListP)
        {
            <div class="col">
                <div class="card ">
                    <div>

                        <button style="top:4px;right:4px ;position:absolute" @onclick="()=>TakeAuthorToDelete(author)" data-bs-toggle="modal" data-bs-target="#MRemoveAuthorPG" title="Eliminar Autor" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="text-center" style="width:100%;margin-top:10px;">
                        <img style="width:60%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHXb_kmN-as-QCmEqdG9fOAg0VUQpHnrs5xP9gCQ8p7VkaPcuxs5BNG5C6fLwM-6nMXdk&usqp=CAU" alt="...">

                    </div>
                    <div class="card-body " title="Doble clic para editar" @ondblclick="() => OnRowDoubleClick(author)">
                        <h5 class="card-title">@author.Name</h5>
                        <p class="form-label">Edad: @author.Age</p>
                        <p class="form-label">Libros: @author.Books.Count</p>

                        <p class="form-label">Biografía: @author.Biography</p>

                    </div>

                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter] public List<Author> AuthorListP { get; set; }
    [Parameter] public RenderFragment ChildBookContent { get; set; }

    [Parameter]
    public EventCallback<Author> AuthorPG { get; set; }
    [Parameter]

    public EventCallback<Author> RemoveAuthorPG { get; set; }

    private async Task OnRowDoubleClick(Author author)
    {
        try
        {
            await AuthorPG.InvokeAsync(author);

        }
        catch (Exception e)
        {
            Console.WriteLine($"Error: {e.Message}");

        }

    }

    private async Task TakeAuthorToDelete(Author author)
    {

        try
        {
            await RemoveAuthorPG.InvokeAsync(author);

        }
        catch (Exception e)
        {
            Console.WriteLine($"Error: {e.Message}");

        }

    }
}
