
@using Biblioteca.Business.Interfaces
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@inject IAuthorRepository AuthorRepository
@using Biblioteca.Data.Models
@inject NavigationManager Navigation

<EditForm Model="NuevoAutor" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p style="color:red">@Message</p>
    @if (Title == "Actualizar")
    {
        <div>

            <label> Cédula </label>
            <InputText @bind-Value="NuevoAutor.Author_id" class="form-control"  disabled />

        </div>
    }
    else
    {
        <div>

            <label> Cédula </label>
            <InputText @bind-Value="NuevoAutor.Author_id" placeholder="Introduce entre 9 y 12 dígitos" class="form-control" />

        </div>
    }


    <div>

        <label> Nombre </label>
        <InputText @bind-Value="NuevoAutor.Name" placeholder="Introduce al menos 3 caracteres" class="form-control" />

    </div>
    <div>

        <label> Edad </label>
        <InputText @bind-Value="NuevoAutor.Age" class="form-control" placeholder="Edad entre 0 y 150 años" />

    </div>
    <div>

        <label> Biografía </label>
        <InputText @bind-Value="NuevoAutor.Biography" class="form-control" placeholder="Escribe al menos 15 caracteres" />

    </div>
   


    <div class="modal-footer">
        @ChildContent

        <button type="submit" class="btn btn-success">@Title</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public Author NuevoAutor { get; set; }
   
    [Parameter] public string Title { get; set; }
    [Parameter] public string Message { get; set; }

    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }


}
