@* @page "/reporte" *@
@* @inject ReportService reportService *@

@* <h3>Reporte de Ventas</h3> *@

@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th>Fecha</th> *@
@*             <th>Producto</th> *@
@*             <th>Cantidad</th> *@
@*             <th>Total</th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var item in reportData) *@
@*         { *@
@*             <tr> *@
@*                 <td>@item.Fecha</td> *@
@*                 <td>@item.Producto</td> *@
@*                 <td>@item.Cantidad</td> *@
@*                 <td>@item.Total</td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@

@* @code { *@
@*     private List<ReportData> reportData; *@

@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         reportData = await reportService.GetReportData(); *@
@*     } *@
@* } *@